html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Small header */
.small-header {
    background-color: #697F8C;
    color: #fff;
    text-align: center;
    font-size: 8px;
    padding: 1px 30px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .small-header {
        font-size: 10px;
        padding: 2px 50px;
    }
}

@media (min-width: 1025px) {
    .small-header {
        font-size: 12px;
        padding: 3px 70px;
    }
}


/* Navigation bar */
header {
    background-color: #fff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 200px;
}

@media (max-width: 768px) {
    .logo img {
        max-width: 120px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .logo img {
        max-width: 150px;
    }
}

@media (min-width: 1025px) {
    .logo img {
        max-width: 200px;
    }
}


/* Shopping cart */
.shopping-cart img {
    text-decoration: none;
    color: #000000;
    margin: 6px 25px;
    width: 25px;
}

.shopping-cart img:hover {
    transform: scale(1.5);
}

@media (min-width: 769px) and (max-width: 1024px) {
    .shopping-cart img {
        width: 30px;
    }
}

@media (min-width: 1025px) {
    .shopping-cart img {
        width: 35px;
    }
}

.bar-container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}


/* Hamburger menu */
body {
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .menu-icon {
        font-size: 35px;
    }
}

@media (min-width: 1025px) {
    .menu-icon {
        font-size: 40px;
    }
}


/* Header line */
.header-line {
    background-color: #697F8C;
    height: 2px;
}


/* Main content: shipping information */
.shipping-information-card {
    border: 2px solid #000000;
    padding: 60px;
    width: 300px;
    margin: -600px auto 0;
    border-radius: 5px;
}

.shipping-information h1 {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
    border-bottom: 1px solid #000000;
    width: 250px;
}

.shipping-information input {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.horizontally-aligned {
    display: flex;
    width: 103%;
}

.horizontally-aligned input {
    flex: 1;
    margin-right: 20px;
}

.horizontally-aligned input:last-child {
    margin-right: 0;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .shipping-information-card {
        width: 400px;
        padding: 80px;
    }

    .shipping-information h1 {
        font-size: 25px;
        width: 320px;
    }

    .shipping-information input {
        width: 100%;
        padding: 8px;
    }

    .horizontally-aligned {
        width: 105%;
    }
}

@media (min-width: 1025px) {
    .shipping-information-card {
        width: 500px;
        padding: 100px;
    }

    .shipping-information h1 {
        font-size: 30px;
        width: 380px;
    }

    .shipping-information input {
        width: 100%;
        padding: 12px;
    }

    .horizontally-aligned {
        width: 105%;
    }
}


/* Payment method */
.payment-method-card {
    border: 2px solid #000000;
    padding: 60px;
    width: 300px;
    border-radius: 5px;
    margin: 20px auto 0;
}

.payment-method-card h2 {
    font-size: 20px;
    border-bottom: 1px solid #000000;
    width: 200px;
    margin-bottom: 50px;

}

.credit-card-container button {
    position: relative;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 20px;
}

.credit-card-container button:hover {
    text-decoration: underline;
}

.credit-card-container button span {
    flex: 1;
    margin-right: 200px;
}

.card-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -20px;
    width: 30px;
}

.card-image:first-child {
    left: 1px;
}

.card-image:last-child {
    right: 50px;
}

.paypal-container button {
    position: relative;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 20px;
}

.paypal-container button:hover {
    text-decoration: underline;
}

.paypal-container button span {
    flex: 1;
    margin-right: 200px;
}

.paypal-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    margin-left: -15px;
}

.klarna-container button {
    position: relative;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
}

.klarna-container button:hover {
    text-decoration: underline;
}

.klarna-container button span {
    flex: 1;
    margin-right: 200px;
}

.klarna-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -10px;
    width: 35px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .payment-method-card {
        width: 400px;
        padding: 80px;
    }

    .payment-method-card h2 {
        font-size: 25px;
        width: 250px;
    }

    .credit-card-container button {
        padding: 10px;
    }

    .credit-card-container button span {
        margin-right: 280px;
    }

    .card-image {
        width: 35px;
        margin-left: -10px;
    }

    .paypal-container button {
        padding: 10px;
    }

    .paypal-container button span {
        margin-right: 280px;
    }

    .paypal-image {
        width: 50px;
        margin-left: -15px;
    }

    .klarna-container button {
        padding: 10px;
    }

    .klarna-container button span {
        margin-right: 280px;
    }

    .klarna-image {
        width: 40px;
        margin-left: -5px;
    }
}

@media (min-width: 1025px) {
    .payment-method-card {
        width: 500px;
        padding: 100px;
    }

    .payment-method-card h2 {
        font-size: 30px;
        width: 300px;
    }

    .credit-card-container button {
        padding: 10px;
    }

    .credit-card-container button span {
        margin-right: 350px;
    }

    .card-image {
        width: 40px;
        margin-left: -5px;
    }

    .paypal-container button {
        padding: 10px;
    }

    .paypal-container button span {
        margin-right: 350px;
    }

    .paypal-image {
        width: 50px;
        margin-left: -10px;
    }

    .klarna-container button {
        padding: 10px;
    }

    .klarna-container button span {
        margin-right: 350px;
    }

    .klarna-image {
        width: 50px;
        margin-left: -10px;
    }
}


/* Order summary */
.order-summary-card {
    border: 2px solid #000000;
    padding: 60px;
    width: 300px;
    border-radius: 5px;
    margin: 20px auto 0;
}

.order-summary h3 {
    font-size: 20px;
    border-bottom: 1px solid #000000;
    width: 100%;
    margin-bottom: 30px;
}

.horizontally-aligned {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.horizontally-aligned p {
    margin: 0 10px;
    font-size: 15px;
}

.edit-cart-container {
    display: flex;
    align-items: center;
}

.edit-cart-container img {
    margin-left: 150px;
    width: 15px;
}

.sub-total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000000;
    width: 100%;
    margin-top: 200px;
    padding-top: 20px;
}

.sub-total p {
    margin: 5px;
}

.order-total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.order-total p {
    margin: 5px;
    font-weight: bold;
}

.rain-jacket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    line-height: 1.3;
    margin-bottom: -150px;
}

.rain-jacket h4 {
    font-size: 13px;
    margin-bottom: 15px;
}

.rain-jacket .rain-jacket-content {
    display: flex;
    align-items: center;
}

.rain-jacket .rain-jacket-details p:first-of-type {
    margin-bottom: 40px;
    font-size: 12px;
}

.rain-jacket-image {
    width: 130px;
    margin-right: 30px;
}

.rain-jacket p {
    font-size: 10px;
}

.sub-total p,
.order-total p {
    font-size: 15px;
}

.complete-order-button {
    width: 200px;
    height: 30px;
    font-size: 12px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .order-summary-card {
        width: 400px;
        padding: 80px;
    }

    .order-summary h3 {
        font-size: 25px;
    }

    .rain-jacket-image {
        width: 160px;
    }

    .horizontally-aligned p {
        font-size: 18px;
    }

    .edit-cart-container img {
        width: 13px;
        margin-left: 220px;
    }

    .rain-jacket h4 {
        font-size: 18px;
    }

    .rain-jacket .rain-jacket-details p:first-of-type {
        font-size: 15px;
    }

    .rain-jacket p {
        font-size: 12px;
    }

    .sub-total p,
    .order-total p {
        font-size: 18px;
    }

    .complete-order-button {
        width: 220px;
        height: 40px;
        font-size: 15px;
    }
}

@media (min-width: 1025px) {
    .order-summary-card {
        width: 500px;
        padding: 100px;
    }

    .order-summary h3 {
        font-size: 30px;
    }

    .rain-jacket-image {
        width: 200px;
    }

    .horizontally-aligned p {
        font-size: 20px;
    }

    .edit-cart-container img {
        width: 16px;
        margin-left: 280px;
    }

    .rain-jacket h4 {
        font-size: 20px;
    }

    .rain-jacket .rain-jacket-details p:first-of-type {
        font-size: 15px;
    }

    .rain-jacket p {
        font-size: 13px;
    }

    .sub-total p,
    .order-total p {
        font-size: 20px;
    }

    .complete-order-button {
        width: 270px;
        height: 50px;
        font-size: 20px;
    }
}

button.complete-order-button {
    display: block;
    margin: 100px auto 0;
    margin-bottom: 100px;
    border: none;
    border-radius: 5px;
    background-color: #7B8E9A;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

a button {
    color: #000000;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #fff;
}


/* Footer */
.content {
    min-height: calc(100% - 80px);
}

.site-footer {
    background-color: #374D5B;
    color: #fff;
    padding: 5px 10px;
}

.site-footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .site-footer {
        padding: 40px 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .site-footer {
        padding: 60px 20px;
    }
}

@media (min-width: 1024px) {
    .site-footer {
        padding: 100px 100px;
    }
}

/* Logo */
.site-footer .logo img {
    filter: brightness(0) invert(1);
}

@media (max-width: 767px) {
    .site-footer .logo img {
        max-width: 150px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .site-footer .logo img {
        max-width: 180px;
    }
}

@media (min-width: 1024px) {
    .site-footer .logo img {
        max-width: 220px;
    }
}


/* Membership */
.site-footer .membership {
    flex: 1;
    padding: 5px;
    text-align: center;
    align-items: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.signup-container input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}

.signup-container button {
    margin-top: 10px;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: #374D5B;
    color: #fff;
    border: 2px solid white;
}

@media (max-width: 767px) {
    .membership {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .membership {
        font-size: 15px;
    }
}

@media (min-width: 1024px) {
    .membership {
        font-size: 20px;
    }
}

.signup-container:hover {
    text-decoration: underline;
}

.site-footer .membership input::placeholder {
    font-size: 12px;
    padding: 1px;
    background-color: #fff;
    border: none;
}

.site-footer .membership button {
    font-size: 12px;
    width: 200px;
    height: 40px;
}

@media (max-width: 767px) {
    .site-footer .membership input::placeholder {
        font-size: 10px;
    }

    .site-footer .membership button {
        font-size: 10px;
        width: 110px;
        height: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .site-footer .membership input::placeholder {
        font-size: 12px;
    }

    .site-footer .membership button {
        font-size: 12px;
        width: 115px;
        height: 27px;
    }
}

@media (min-width: 1024px) {
    .site-footer .membership input::placeholder {
        font-size: 15px;
    }

    .site-footer .membership button {
        font-size: 15px;
        width: 120px;
        height: 30px;
    }
}


/* Social icons */
.site-footer .social-icons {
    margin-top: 220px;
}

.site-footer .social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.site-footer .social-icons img {
    max-width: 12px;
    margin: 0px 1px;
}

.site-footer .social-icons img:hover {
    transform: scale(1.3);
}

@media (min-width: 768px) and (max-width: 1023px) {
    .site-footer .social-icons img {
        max-width: 15px;
        margin: 0px 1px;
    }
}

@media (min-width: 1024px) {
    .site-footer .social-icons img {
        max-width: 20px;
        margin: 0px 1px;
    }
}